@import "../../node_modules/vodal/common.css";
@import "../../node_modules/vodal/rotate.css";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

@import 'variables';
@import 'datalist';
@import 'transitions';
* {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: 'JetBrains Mono', monospace;
  padding: 0;
  margin: 0;
}

a {
  color: $link-color;
  text-decoration: none;
  position: relative;
  transition: color 0.8s;
}

.mb10 {
  margin-bottom: 10px;
}

.inline-block {
  display: inline-block;
}

.no-list {
  list-style: none;
}

.no-list {
  padding-left: 0;
}

.torrent-transferinfo {
  padding: 0;
  margin: 0 0 0 7px;
}

.green {
  color: $green-color;
}


.center-text {
  text-align: center !important;
}

input[type='text'] {
  font-size: 16px;
  background-color: transparent;
  padding: 3px 10px;
  border: 0;
  border-left: 2px solid $text-color;
  color: #fff;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 100%;
  border-radius: 3px;
}

input[type='text']:focus {
  background-color: lighten($box-background-color, 2%);
  border-left-color: lightskyblue;
}

.cursor-pointer {
  cursor: pointer;
}

.box {
  position: relative;
  padding: 10px;
  background-color: #3b3b3b;
  color: $text-color;
  z-index: 1;
  max-height: 41px;
  input[type='text'] {
    padding-top: 0;
    padding-bottom: 0;
    max-width: 95%;
    &:focus {
      background-color: transparent;
    }
  }
  a {
    color: lighten($text-color, 10%);
    &:hover {
      color: $link-color;
    }
  }
  .settings {
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

h1,
h2,
h3,
h4 {
  color: $title-color;
  &.sub {
    margin-bottom: 0;
  }
}

h2 ~ .subtext, h4 ~ .subtext {
  color: transparentize($title-color, 0.8);
  font-size: 14px;
  margin-bottom: 10px;
  display: inline-block;
  a {
    color: transparentize($title-color, 0.8);
  }
}

h4 ~ a.subtext:hover {
  color: transparentize($title-color, 0);
}

.container {
  padding: 10px;
  h2:first-of-type,
  h4:first-of-type {
    margin-top: 0;
  }
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

.vodal-dialog {
  background-color: lighten($background-color, 5%);
  h4:first-of-type {
    margin-top: 0;
  }
  h2:first-of-type {
    margin-top: 0;
  }

  input[type='text'] {
  padding: 5px 10px;

    &:focus {
      background-color: lighten($background-color, 10%);
    }
  }
}

.btn {
  padding: 5px 10px;
  background-color: lighten($background-color, 5%);
  width: fit-content;
  border-radius: 5px;
  background-color: $link-color;
  outline: none;
  border: 0;
  cursor: pointer;

  &--green {
    background-color: $green-color;
  }

  &--center {
    margin: 0 auto;
  }

  &.disabled {
    cursor: default;
    background-color: grey;
    color: rgb(185, 184, 184);
    pointer-events: none;
  }
}


::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: lighten($background-color, 5%);
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: lighten($background-color, 15%);
  border: 0px solid #555555;
}
